<div class="flip-card">
  <div class="flip-card-inner" (click)="cardClick()">

    <div class="flip-card-face flip-card-front">
      <div class="flip-card-content">
        <div class="close" (click)="onCardDelete($event)"></div>
        <div class="name">{{card.title}}</div>
      </div>
    </div>

    <div class="flip-card-face flip-card-back">
      <div class="flip-card-content">
        <div class="close" (click)="onCardDelete($event)"></div>
        <div class="name">{{card.title}}</div>
        <div class="description">
          {{card.description}}
        </div>
      </div>
    </div>

  </div>
</div>
