.list {
  display: flex;
  flex-wrap: wrap;
}

input {
  height: 35px;
  margin:auto;
  display: block;
}

input.button {
  border: none;
  border-radius: 4px;
  background-color: #ffdd2d;
  cursor: pointer;
}

input.button:hover {
  opacity: .8;
}

